.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.stepContainer {
  width: 80%;
}
.rowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.rowNameStyle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  justify-content: center;
}
.renderItemStyle {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  justify-content: center;
}
.headerStypsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.headerStyleTitle {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 20px;
}
.progress {
  display: flex;
  width: 100%;
  accent-color: #39b3cb;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 25px;
  gap: 15px;
}
.stepsTitle {
  font-size: 20px;
  color: #6b6a6b;
  width: 100%;
}
.requiredStyle {
  color: red;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.resultContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
  width: 100%;
}
.resultContainer > div {
  width: 40%;
  border: 1px solid #000;
  padding: 10px;
}

.resultItemContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
  width: 100%;
}
.resultItemContainer > div {
  width: 40%;
  border: 1px solid #000;
  padding: 10px;
}
.totalPrice {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.green {
  color: green;
}
.red {
  color: red;
}
